* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: #1f2937;
    display: flex;
}

.header {
    display: flex;
   margin: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
}

.links-header {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}   

.link-one {
    margin-left: 20px;
}

.link-two {
    margin-left: 20px;
}

.link-three {
    margin-left: 20px;
}

.first-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.left-text {
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.img-holder {
    display: flex;
    
    align-items: center;
}

.awesome {
    height: 100px;

}

.awesome-two {
    height: 100px;
}



