
#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    
}
p {
    margin: 0;
    display: flex;
}

.header {
    outline: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.links-header {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.first-container {
    outline: 1px solid red;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
}
.left-text {
    display: flex;
    flex-direction: column;
}

.button {
    align-self: flex-start; /*---- chuuuuj ----->*/
}

.second-container {
    outline: 1px solid blue;
}

.third-container {
    outline: 1px solid green;
}

.fourth-container {
    outline: 1px solid purple;
}

footer {
    outline: 1px solid brown;
    background-color: #1f2937;
}