body {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.header {
    outline: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links-header {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.first-container {
    outline: 1px solid red;
}

.second-container {
    outline: 1px solid blue;
}

.third-container {
    outline: 1px solid green;
}

.fourth-container {
    outline: 1px solid purple;
}

footer {
    outline: 1px solid brown;
}